#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
} 
    body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
    /* Style the tab content */
.divcontent {
  display: none;
}

    #head {
    background-color: #fff;
    z-index: 999;
    position: sticky;
    top: 0;
}
	  
select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  // Stack above custom arrow
  z-index: 1;

  // Remove dropdown arrow in IE10 & IE11
  // @link https://www.filamentgroup.com/lab/select-css.html
  &::-ms-expand {
    display: none;
  }
	
.inputBoxActionButton {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.inputBoxActionButton input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.inputBoxActionButton input:focus {
    box-shadow: none;
    border: 2px solid #198754
}

.inputBoxActionButton .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.inputBoxActionButton button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #ce2222
}

#searchresult {
    margin-top: 20px;
    z-index: -1;
    padding-bottom: 95px;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
